.header_contenedor{
    visibility: hidden;
}
.navb{
    visibility: hidden;
}
.background{
    visibility: hidden;
}
.rotate{
    visibility: hidden;
}
.fa{
    visibility: hidden;
}
.detalleCompra{
    visibility: hidden;
}
.menu{
    visibility: hidden;
}
.list{
    visibility: hidden;
}
.icon{
    visibility: hidden;
}
.text{
    visibility: hidden;
}
.list{
    visibility: hidden;
}
.icon{
    visibility: hidden;
}
.text{
    visibility: hidden;
}
.list{
    visibility: hidden;
}
.icon{
    visibility: hidden;
}
.text{
    visibility: hidden;
}
.list{
    visibility: hidden;
}
.icon{
    visibility: hidden;
}
.text{
    visibility: hidden;
}
.list{
    visibility: hidden;
}
.icon{
    visibility: hidden;
}
.text{
    visibility: hidden;
}
.list{
    visibility: hidden;
}
.icon{
    visibility: hidden;
}
.text{
    visibility: hidden;
}
.indicador{
    visibility: hidden;
}
.barra{
    visibility: hidden;
}
.section2{
    visibility: hidden;
}
.menu_cine{
    visibility: hidden;
}
.inicio{
    visibility: hidden;
}
.billboard{
    visibility: hidden;
}
.your_favorities{
    visibility: hidden;
}
.search1{
    visibility: hidden;
}
.hidden{
    visibility: hidden;
}
.search{
    visibility: hidden;
}
.main{
    visibility: hidden;
}
.calendar{
    visibility: hidden;
}
.calendar_controls{
    visibility: hidden;
}
.calendar_header{
    visibility: hidden;
}
.calendar_table{
    visibility: hidden;
}
.texts{
    visibility: hidden;
}
.category{
    visibility: hidden;
}
.cartelera{
    visibility: hidden;
}
.pelicula{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.cartelera{
    visibility: hidden;
}
.pelicula1{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula1{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula1{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula1{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula1{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula1{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula1{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.pelicula1{
    visibility: hidden;
}
.iconos{
    visibility: hidden;
}
.iconos1{
    visibility: hidden;
}
.pelicula_info{
    visibility: hidden;
}
.calificacion{
    visibility: hidden;
}
.estrella1{
    visibility: hidden;
}
.border{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.estrella{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.ventana{
    visibility: hidden;
}
.contenido{
    visibility: hidden;
}
.cerrar{
    visibility: hidden;
}
.formularioCompra{
    visibility: hidden;
}
.tarjeta_dc{
    visibility: hidden;
}
.tarjeta_credito{
    visibility: hidden;
}
.tarjeta_debito{
    visibility: hidden;
}
.campos_tarjeta{
    visibility: hidden;
}
.buttom_comprar{
    visibility: hidden;
}
.video{
    visibility: hidden;
}
.noticias{
    visibility: hidden;
}
.p{
    visibility: hidden;
}
.comentarios{
    visibility: hidden;
}
.comentario{
    visibility: hidden;
}
.footer{
    visibility: hidden;
}
.redes_sociales{
    visibility: hidden;
}
.icons{
    visibility: hidden;
}
.icons{
    visibility: hidden;
}
.icons{
    visibility: hidden;
}